/* div {
  justify-content: center;
}

.text {
  text-align: center;
}

.products {
  display: flex;
}

.product-image {
  width: 40%;
  height: 65%;
}

.products-div {
  justify-content: center;
  text-align: center;
} */
